@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  background-color: #001f2b;
  margin: 0;
}
.MuiTypography-root {
  font-family: "Poppins" !important;
  color: #ffffff;
}
.MuiOutlinedInput-root {
  & input::placeholder {
    color: white; /* Change placeholder color to white */
  }

  & fieldset {
    border-color: rgb(107, 191, 224) !important; 
  }
}